BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 100
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment